GAS_API_URL=https://script.google.com/macros/s/AKfycbw8exAcjMe9eevrJh3gweM3PUcsTqYm_kjDBQT2P3VK-fnYnCUw3KOqYAnwE1iPDtF-EQ/exec
GAS_API_SECRET=your_gas_secret_here
SESSION_SIGNING_SECRET=your_session_secret_here
ALLOWED_ORIGINS=*
APP_ENV=development
APP_VERSION=1.0.0
